<fieldset>
  <legend>QIWI</legend>

  <table class="index">
    <tr>
      <td><label>Номер на который выставлен счет:</label></td>
      <td>
        <%= payment.source.number %>
      </td>
    </tr>
  </table>
</fieldset>

